$kicker-green: #0c2e33; //Kicker Green
$kicker-green-lighter: #194146;
$kicker-green-lightest: #2C5459;
$kicker-green-darker: #031D20;
$kicker-green-darkest: #000E10;

$background: #E9ECED;

$accent-tan: #533F12;
$accent-tan-lighter: #725B27;
$accent-tan-lightest: #917A47;
$accent-tan-dark: #352504;
$accent-tan-darkest: #1A1200;

$accent-red: #531712;
$accent-red-lighter: #722D27;
$accent-red-lightest: #914C47;
$accent-red-darker: #350804;
$accent-red-darkest: #1A0200;

// Color Scheme: http://paletton.com/#uid=33l0u0koWatgsigkYemtA6DD-3f

$footer-height: 90px;

html,
body {
  height: 100%;
}

#centerContent {
  height:100%;
}

/* Wrapper for page content to push down footer */
#wrap {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  /* Negative indent footer by it's height */
  margin: 0 auto -90px;
}
#push,
#footer {
  height: 90px;
}
#footer {

}

@media (max-width: 767px) {
  #footer {
    margin-left: -20px;
    margin-right: -20px;
    padding-left: 20px;
    padding-right: 20px;
  }
}

.top-buffer {
  margin-top:20px;
}

ul.eventsList {
  list-style-type: none;
  box-shadow: 2px 2px 5px 1px gray;
}

.eventsList li {
  cursor: hand;
  margin: 4px 0;
}
.eventsList li:hover {
  background-color: $background;
}

.eventsList li.active {
  background-color: $background;
}