<div ng-controller="EventsController as eventsCtrl">
    <div class="row">
        <div class="col-lg-12">
            <h3>Kicker Events</h3>

            <div class="row">
                <div class="col-lg-3">
                    <ul class="eventsList">
                        <li ng-repeat="event in events track by $index"
                            ng-class="{active: currentEvent == event}"
                            ng-click="setCurrentEvent($index)">{{event.title}}</li>
                    </ul>
                </div>
                <div class="col-lg-9">
                    <div ng-hide="currentEvent == null">
                        {{currentEvent.description}}
                    </div>
                    <div ng-show="currentEvent == null">
                        The Kickers proudly host several events throughout the year and are often seen at other events in the area! Keep an eye out for us and say hi!
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
