<footer id="footer" class="container-fluid">
    <div class="row">
        <div class="col-lg-4">
            <a href="http://www.wunderground.com/cgi-bin/findweather/getForecast?query=zmw:13416.1.99999&bannertypeclick=wu_bluestripes"><img src="http://weathersticker.wunderground.com/cgi-bin/banner/ban/wxBanner?bannertype=wu_bluestripes&airportcode=KRME&ForcedCity=Newport&ForcedState=NY" alt="Click for Newport, New York Forecast" height="90" width="160" /></a>
        </div>
        <div class="col-lg-4"></div>
        <div class="col-lg-4">
            <div class="panel">
                Sponsored By: <a href="http://www.moodyspolaris.com/" target=_blank>Moody's Polaris</a>
            </div>
        </div>
    </div>
</footer>