<nav id="header" class="navbar navbar-default navbar-static-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <img ng-src="resources/images/kicker_logo_transparent.png" ui-sref="home" height="80"/>
        </div>
        <ul class="nav navbar-nav navbar-right">
            <li><a ui-sref="home"><i class="glyphicon glyphicon-home"></i> Home</a></li>
            <li><a ui-sref="events"><i class="glyphicon glyphicon-road"></i> Events</a></li>
            <li><a ui-sref="calendar"><i class="glyphicon glyphicon-calendar"></i> Calendar</a></li>
        </ul>
    </div>
</nav>
