<div ng-controller="HomeController as homeCtrl">
    <div class="row">
        <div class="col-sm-12">
            <h2>Welcome to the Homepage of the  Kuyahoora Kickers</h2>
            <p>Home of the Beer and Chili Run and Newport Fireman's Field Days Run</p>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <p>The Kuyahoora Kickers running club runs every Thursday from the bridge in Newport at 6:00.</p>
        </div>
        <div class="col-sm-6">
            <img src="resources/images/beer_chili_1.jpg">
        </div>
    </div>
</div>